@rendermode InteractiveServer

<div class="header">
    @* MENU *@
    <div class="nav-menu">
        <div class="nav-menu-burger" @onclick="@(() => Toogle())">
            <Icon IconSvgEnum="Enums.Icon.Burger" />
        </div>
        <div class="nav-menu-title">
            <div class="puce">BG</div>
            <span>GIRAUDET Brendan</span>
            <span class="application-version">@_applicationVersion</span>
        </div>
    </div>
    
    @* SUB MENU *@
    <SubMenu />
</div>

@* CONTENT MENU  *@
<div class="nav-menu-items-container @_hiddenClass">
    <div class="nav-menu-overlay-background" @onclick="@(() => Toogle())"></div>

    <div class="nav-menu-overlay">
        <div class="nav-menu-overlay-header">
            <div class="puce">BG</div>
            <div @onclick="@(() => Toogle())">
                <Icon IconSvgEnum="Enums.Icon.CrossSvg" IconStyle="@Enums.Style.Secondary" />
            </div>
        </div>

        <NavMenuItems />
        
    </div>
</div>